 .modal aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 600px;
    height: 100%;
    background-color: white;
}

.modal.task{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.modal .butons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 32px;
}
.modal input,label{
    width: 100%;
    margin: 4px 20px;
}
.modal input{
    align-items: center;
    height: 60px;
}


.modal button.add{
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin: 20px 20px;
    --text-color: #fff;
    position: relative;
    border: none;
    background: #5d0ca3;
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #34055d 0px 7px 2px, #000 0px 8px 5px;
  }


.modal button.cancel{
    background-color: white;
    color: #5d0ca3;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin: 0px 20px;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #a8a1a1 0px 7px 2px, #000 0px 8px 5px;
} 
